<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="org.xtext.example.mydsl.target" sequenceNumber="1637847913">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="0.0.0"/>
      <unit id="com.google.inject" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="io.github.classgraph" version="0.0.0"/>
      <unit id="org.apache.commons.cli" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/2021-09/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.utils" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.core" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.lib" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.language" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.12.1/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.25.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.itemis.com/updates/"/>
    </location>
  </locations>
</target>
